version: '3.9'
services:
  influxdb:
    image: influxdb:2.0.7
    container_name: influxdb
    environment:
      # Access to database
      - INFLUX_DB=telegraf_output_db
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=secretpassword
      - DOCKER_INFLUXDB_INIT_ORG=myorg
      - DOCKER_INFLUXDB_INIT_BUCKET=mybucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=mytoken  
    ports:
      - "8086:8086"

  telegraf:
    build:
      context: ./telegraf-iperf-client
      args:
        - IPERF_CLIENT_INSTANCE_PORT=5001
    links:
     - influxdb
    container_name: telegraf-iperf-client
    volumes:
     - ./telegraf.conf:/etc/telegraf/telegraf.conf:ro
    environment: 
    # These variables should be aligned with telegraf.conf file.
     - DOCKER_INFLUXDB_INIT_ORG=myorg
     - DOCKER_INFLUXDB_INIT_BUCKET=mybucket
     - DOCKER_INFLUXDB_INIT_TOKEN=mytoken
    depends_on:
     - influxdb

  grafana:
    image: grafana/grafana
    links:
      - influxdb
    container_name: grafana
    environment:
     - GF_SECURITY_ADMIN_USER=admin
     - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    depends_on:
      - influxdb
      